@media screen and (min-width: 768px) {
	* {
		outline-color: #270092;
	}
	html,body {
		outline-color: #270092;
		height: 94%;
		margin: 0;
		
	  }
	  a{
		text-decoration: underline;
		color: #00f7ff;
	  }
	body {
	  outline-color: #2f2ffd;
	  background-color: #000107;
	  color: rgb(255, 255, 255);
	}
	
	.tab-nav-container{
		color: rgb(255, 255, 255);
		background-color: #010003;
		box-shadow: 0 3px 6px #020008, 0 3px 6px #020008;
		display: flex;
		justify-content: space-around;
	  position: fixed;
	  width: 100%;
	  left: 0;
	  bottom: 0;
	  padding: 0.3em 1em;
	}
	
	.tab{
		color: rgb(255, 255, 255);
		border-radius:50px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content:center;
		padding: 20px 20px;
		margin: 0 10px;
		font-size: 1em;
		transition: background 0.4 linear;
	}
	
	.tab i{
		font-size: 1em;
	}
	
	.tab p{
		font-weight:bold;
		overflow: hidden;
		max-width:0;
	}
	.tab.active p{
		overflow: hidden;
	}
	.tab.active{
		color: #3e00e7;
	}
	.tab.active.yellow{
		background-color: rgba(230, 169, 25, 0.2);
		color: rgba(230, 169, 25, 1);
	}
	.tab.active.teal{
		background-color: rgba(28, 150, 162, 0.2);
		color: rgba(28, 150, 162, 1);
	}
	
	@media (max-width: 450px){
		.tab-nav-container{
			padding: 5px;
		}
		
		.tab {
			padding: 0.5em 1em;
			margin: 0;
		}
		
		.tab i{
			font-size: 1em;
		}
	}
	button {
		width: 80%;
		border: none;
		padding: 0.6em 1em;
		border-radius: 4px;
		margin: 10px 0;
		background-color: #270092;
		box-shadow: 0 10px 20px -8px rgba(0, 11, 165, 0.438);
		color: #ffffff;
		font-size: 17px;
		cursor: pointer;
	  }
	
	.container {
		box-shadow: rgba(151, 130, 226, 0.411) 0px 1px 4px;
		background-color: #ffffff;
		width: fit-content;
		height: auto;
		width: 30%;
		border-left: 5px solid #270092;
		border-radius: 5%;
		color: rgb(0, 0, 0);
		padding: 0.6em 1em;
	}
	.head{
			color: rgb(255, 255, 255);
			background-color: #020008;
			display: flex;
		  position: fixed;
		  border-bottom: 0.2px solid rgb(4, 0, 24) ;
		  justify-content: space-between;
		  width: 100%;
		  left: 0;
		  top: 0;
		  padding: 0.1em 1em;
	}
	#search-results-container { 
		color: black;
	overflow-y: visible;
	}
	.gsc-completion-container .gsc-completion-title {
		color: black !important;
	}
	.search-container {
		
		width: 80%;
		height: 75.7%;
		overflow-y: auto;
	}
	.cse .gsc-control-cse, 
	.gsc-control-cse {
	padding: 0em;
	border: 0px;
	}
	.right {
		float: right;
		padding: 0em 1.5em;
	}
	img {
		width: 70%;
		height: auto;
	}
	input {
		padding: 0.6em 1em;
		border: none;
		outline-color: #3500d4;
		background-color: #050014;
		color: rgb(255, 255, 255);
	}
	option{
		padding: 0.4em 0.8em;
	}
	.gsc-completion-container {
		color: black !important;
	  }
	
	 
	select {
		padding: 0.4em 0.6em;
		background-color:#270092;
		color: white;
		text-decoration: none;
		outline: none;
		border: none;
	}
	#error {
		color: red;
	}
	.bottomtext {
		color: grey;
		bottom: 0;
	}
	.verified img {
		width: 16px;
		height: 5%;
	}
	.head img{
		width: 80px;
		height: 40px;
		place-self: center;
	}
	.verified {
		text-align: center;
		display: flexbox;
	}
	ul {
		justify-content: left;
	}
	li {
		align-items: left;
	}
	.f {
		display: flex;
		justify-content: space-around;
	}
	.a {
		display: grid;
		place-items: center;
		
	}
  }
  @media screen and (max-width: 767px) {
	* {
		outline-color: #270092;
	}
	html,body {
		outline-color: #270092;
		height: 94%;
		margin: 0;
		
	  }
	  a{
		text-decoration: underline;
		color: #00f7ff;
	  }
	body {
	  outline-color: #2f2ffd;
	  background-color: #000107;
	  color: rgb(255, 255, 255);
	}
	
	.tab-nav-container{
		color: rgb(255, 255, 255);
		background-color: #010003;
		box-shadow: 0 3px 6px #020008, 0 3px 6px #020008;
		display: flex;
		justify-content: space-around;
	  position: fixed;
	  width: 100%;
	  left: 0;
	  bottom: 0;
	  padding: 0.3em 1em;
	}
	
	.tab{
		color: rgb(255, 255, 255);
		border-radius:50px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content:center;
		padding: 20px 20px;
		margin: 0 10px;
		font-size: 1em;
		transition: background 0.4 linear;
	}
	
	.tab i{
		font-size: 1em;
	}
	
	.tab p{
		font-weight:bold;
		overflow: hidden;
		max-width:0;
	}
	.tab.active p{
		overflow: hidden;
	}
	.tab.active{
		color: #3e00e7;
	}
	.tab.active.yellow{
		background-color: rgba(230, 169, 25, 0.2);
		color: rgba(230, 169, 25, 1);
	}
	.tab.active.teal{
		background-color: rgba(28, 150, 162, 0.2);
		color: rgba(28, 150, 162, 1);
	}
	
	@media (max-width: 450px){
		.tab-nav-container{
			padding: 5px;
		}
		
		.tab {
			padding: 0.5em 1em;
			margin: 0;
		}
		
		.tab i{
			font-size: 1em;
		}
	}
	button {
		width: 80%;
		border: none;
		padding: 0.6em 1em;
		border-radius: 4px;
		margin: 10px 0;
		background-color: #270092;
		box-shadow: 0 10px 20px -8px rgba(0, 11, 165, 0.438);
		color: #ffffff;
		font-size: 17px;
		cursor: pointer;
	  }
	
	.container {
		box-shadow: rgba(151, 130, 226, 0.411) 0px 1px 4px;
		background-color: #ffffff;
		width: fit-content;
		height: auto;
		width: 80%;
		border-left: 5px solid #270092;
		border-radius: 5%;
		color: rgb(0, 0, 0);
		padding: 0.6em 1em;
	}
	.head{
			color: rgb(255, 255, 255);
			background-color: #020008;
			display: flex;
		  position: fixed;
		  border-bottom: 0.2px solid rgb(4, 0, 24) ;
		  justify-content: space-between;
		  width: 100%;
		  left: 0;
		  top: 0;
		  padding: 0.1em 1em;
	}
	#search-results-container { 
		background-color: transparent !important;
		  background-image: none !important;
		  box-shadow: none !important;
		color: black;
	overflow-y: visible;
	}
	.gsc-search-box .gsc-input {
		background: transparent !important;
		border: none !important;
		box-shadow: none !important;
	  }
	.gsc-completion-container .gsc-completion-title {
		color: black !important;
	}
	.search-container {
		height: 75.7%;
		background-color: transparent !important;
		background-image: none !important;
		box-shadow: none !important;
		overflow-y: auto;
		background-color:transparent !important;
	}
	.cse .gsc-control-cse, 
	.gsc-control-cse {
	padding: 0em;
	background: transparent;
	border: 0px;
	}
	.right {
		float: right;
		padding: 0em 1.5em;
	}
	img {
		width: 70%;
		height: auto;
	}
	input {
		padding: 0.6em 1em;
		border: none;
		outline-color: #3500d4;
		background-color: #050014;
		color: rgb(255, 255, 255);
	}
	option{
		padding: 0.4em 0.8em;
	}
	.gsc-completion-container {
		color: black !important;
	  }
	
	  .gsc-search-box .gsc-input {
		background-color: transparent !important;
		border-color: transparent !important;
	  }
	select {
		padding: 0.4em 0.6em;
		background-color:#270092;
		color: white;
		text-decoration: none;
		outline: none;
		border: none;
	}
	#error {
		color: red;
	}
	.bottomtext {
		color: grey;
		bottom: 0;
	}
	.verified img {
		width: 16px;
		height: 5%;
	}
	.head img{
		width: 80px;
		height: 40px;
		place-self: center;
	}
	.verified {
		text-align: center;
		display: flexbox;
	}
	ul {
		justify-content: left;
	}
	li {
		align-items: left;
	}
  }

